{% extends "memorizar/base.html" %}
{% load memorizar %}
{% load static %}
{% block title %}Privacy Policy{% endblock %}

{% block content %}
<!-- pageheader -->
<div class="py-10">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 col-md-12 col-12">
				<!-- text center -->
				<div class="text-center">
					<h1 class="display-3 fw-bold">利用規約</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- content -->
<div class="pb-10">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 col-md-12 col-12">
				<p class="fs-4 mb-4">この利用規約（以下，「本規約」といいます。）は，竹内宏佑（以下，「当運営者」といいます。）がこのウェブサイト上で提供するサービス（以下，「本サービス」といいます。）の利用条件を定めるものです。登録ユーザーの皆さま（以下，「ユーザー」といいます。）には，本規約に従って，本サービスをご利用いただきます。</p>
			</div>

			<div class="col-lg-8 col-md-12 col-12">
				<!-- date -->
				<div class="py-3 mb-5 border-bottom">
					<h3>最終更新日: <span class="text-primary">2021年9月18日</span></h3>
				</div>
				<!-- heading -->
				<h2 class="fw-bold mb-3">第1条（適用）</h2>
				<!-- para -->
				<div class="d-flex mt-5">
					<div class="ms-3">
						<p class="fs-4">1. 本規約は，ユーザーと当社との間の本サービスの利用に関わる一切の関係に適用されるものとします。</p>
						<p class="fs-4">2. 当社は本サービスに関し，本規約のほか，ご利用にあたってのルール等，各種の定め（以下，「個別規定」といいます。）をすることがあります。これら個別規定はその名称のいかんに関わらず，本規約の一部を構成するものとします。</p>
						<p class="fs-4">3. 本規約の規定が前条の個別規定の規定と矛盾する場合には，個別規定において特段の定めなき限り，個別規定の規定が優先されるものとします。</p>
					</div>
				</div>

				<!-- heading -->
				<!-- <h1 class="fw-bold mb-3"></h1> -->
				<!-- para -->
				<!-- <p class="fs-4 mb-4"></p> -->
			</div>
		</div>
	</div>
</div>
{% endblock %}