/* navbar */
.navbar-brand img {
    height: 40px;
}

.answer-true {
    border: #e53f3c 3px solid!important;
}

.answer-selection {
    border: #eae7f5 3px solid!important;
}

.answer-success {
    border: #19cb98 3px solid!important;
}

/* markdown */
em {
    font-weight: bold;
}