{% extends "memorizar/base.html" %}
{% load memorizar %}
{% block title %}Workbooks{% endblock %}

{% block content %}
<!-- 問題集一覧 -->
<div class="bg-primary py-4 py-lg-6">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                <div>
                    <h1 class="mb-0 text-white display-4">Search Workbooks</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- content -->
<div class="py-6">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-4">
                <div class="row d-lg-flex justify-content-between align-items-center">
                    <div class="col-md-6 col-lg-8 col-xl-9 ">
                        <h4 class="mb-3 mb-lg-0">Displaying {{ workbooks|length }} out of {{ workbooks.paginator.count }} courses</h4>
                    </div>
                    <div class="d-inline-flex col-md-6 col-lg-4 col-xl-3 ">
                        <div class="me-2">
                            <!-- Nav -->
                            <div class="nav btn-group flex-nowrap" role="tablist">
                                <button class="btn btn-outline-white active" data-bs-toggle="tab"
                                    data-bs-target="#tabPaneGrid" role="tab" aria-controls="tabPaneGrid"
                                    aria-selected="true">
                                    <span class="fe fe-grid"></span>
                                </button>
                                <button class="btn btn-outline-white" data-bs-toggle="tab" data-bs-target="#tabPaneList"
                                    role="tab" aria-controls="tabPaneList" aria-selected="false">
                                    <span class="fe fe-list"></span>
                                </button>
                            </div>
                        </div>
                        <!-- List  -->
                        <div class="dropdown bootstrap-select" style="width: 100%;">
                            <button type="button" tabindex="-1"
                                class="btn dropdown-toggle bs-placeholder btn-light" data-bs-toggle="dropdown"
                                role="combobox" aria-owns="bs-select-1" aria-haspopup="listbox" aria-expanded="false"
                                title="Sort by">
                                <div class="filter-option">
                                    <div class="filter-option-inner">
                                        <div class="filter-option-inner-inner">Sort by</div>
                                    </div>
                                </div>
                            </button>
                            <div class="dropdown-menu ">
                                <div class="inner show" role="listbox" id="bs-select-1" tabindex="-1">
                                    <ul class="dropdown-menu inner show" role="presentation">
                                        <li class="dropdown-item">date</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-12 mb-4 mb-lg-0">
                <!-- Card -->
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header">
                        <h4 class="mb-0">Filter</h4>
                    </div>
                    <!-- Card body -->
                    <div class="card-body">
                        <span class="dropdown-header px-0 mb-2"> Category</span>
                        {% for category in categories %}
                            <!-- Checkbox -->
                            <div class="form-check mb-1">
                                <input type="checkbox" class="form-check-input" name="{{ category.category_id }}" checked="">
                                <label class="form-check-label" for="{{ category.category_id }}">{{ category.title }}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- Tab content -->
            <div class="col-xl-9 col-lg-9 col-md-8 col-12">
                <div class="tab-content">
                    <!-- Tab pane -->
                    <div class="tab-pane fade pb-4 active show" id="tabPaneGrid" role="tabpanel"
                        aria-labelledby="tabPaneGrid">
                        <div class="row">
                            {% for workbook in workbooks %}
                                <div class="col-lg-4 col-md-6 col-12">
                                    <!-- Card -->
                                    <div class="card  mb-4 card-hover">
                                        <a href="{% url 'workbooks:detail' workbook.workbook_id %}" class="card-img-top">
                                            {% if workbook.image_url %}
                                                <img src="{{ workbook.image_url }}" alt="" class="card-img-top rounded-top-md">
                                            {% else %}
                                                <img src="https://via.placeholder.com/300x200" alt="" class="card-img-top rounded-top-md">
                                            {% endif %}
                                        </a>
                                        <!-- Card body -->
                                        <div class="card-body">
                                            <h4 class="mb-2 text-truncate-line-2 "><a href="{% url 'workbooks:detail' workbook.workbook_id %}" class="text-inherit">{{ workbook.title }}</a>
                                            </h4>
                                            <div class="lh-1">
                                                <span>
                                                    <i class="mdi mdi-star text-warning me-n1"></i>
                                                    <i class="mdi mdi-star text-warning me-n1"></i>
                                                    <i class="mdi mdi-star text-warning me-n1"></i>
                                                    <i class="mdi mdi-star text-warning me-n1"></i>
                                                    <i class="mdi mdi-star text-warning"></i>
                                                </span>
                                                <span class="text-warning">4.5</span>
                                                <span class="fs-6 text-muted">(7,700)</span>
                                            </div>
                                        </div>
                                        <!-- Card footer -->
                                        <div class="card-footer">
                                            <!-- Row -->
                                            <div class="row align-items-center g-0">
                                                <div class="col-auto">
                                                    <img src="{{ request.user|user_avatar }}"
                                                        class="rounded-circle avatar-xs" alt="">
                                                </div>
                                                <div class="col ms-2">
                                                    <span>{{ request.user.first_name }}</span>
                                                </div>
                                                <div class="col-auto">
                                                    <span class="dropdown dropstart">
                                                        <a class="text-muted text-decoration-none" href="#" role="button" id="workbook-menu-{{ workbook.workbook_id }}" data-bs-toggle="dropdown" data-bs-offset="-20,20" aria-expanded="false">
                                                            <i class="fe fe-more-vertical"></i>
                                                        </a>
                                                        <span class="dropdown-menu" aria-labelledby="workbook-menu-{{ workbook.workbook_id }}">
                                                            <span class="dropdown-header">メニュー </span>
                                                            <form action="{% url 'socials:register' workbook.workbook_id %}" method="POST">
                                                                {% csrf_token %}
                                                                <button type="submit" class="dropdown-item"><i class="fe fe-edit dropdown-item-icon"></i> ワークブックに追加</button>
                                                            </form>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Tab pane -->
                    <div class="tab-pane fade pb-4" id="tabPaneList" role="tabpanel" aria-labelledby="tabPaneList">
                        <!-- Card -->
                        {% for workbook in workbooks %}
                            <div class="card mb-4 card-hover">
                                <div class="row g-0">
                                    {% if workbook.image_url %}
                                        <a class="col-12 col-md-12 col-xl-3 col-lg-3 bg-cover img-left-rounded" style="background-image: url({{ workbook.image_url }});" href="{% url 'workbooks:detail' workbook.workbook_id %}">
                                            <img src="{{ workbook.image_url }}" alt="..." class="img-fluid d-lg-none invisible">
                                        </a>
                                    {% else %}
                                        <a class="col-12 col-md-12 col-xl-3 col-lg-3 bg-cover img-left-rounded" style="background-image: url(https://via.placeholder.com/300x200);" href="{% url 'workbooks:detail' workbook.workbook_id %}">
                                            <img src="https://via.placeholder.com/300x200" alt="..." class="img-fluid d-lg-none invisible">
                                        </a>
                                    {% endif %}
                                    <div class="col-lg-9 col-md-12 col-12">
                                        <!-- Card body -->
                                        <div class="card-body">
                                            <h3 class="mb-2 text-truncate-line-2 "><a href="{% url 'workbooks:detail' workbook.workbook_id %}" class="text-inherit">{{ workbook.title }}</a></h3>
                                            <!-- List inline -->
                                            <!-- <ul class="mb-5 list-inline">
                                                <li class="list-inline-item"><i class="far fa-clock me-1"></i>3h 56m
                                                </li>
                                                <li class="list-inline-item"> <span>
                                                        <i class="mdi mdi-star text-warning me-n1"></i>
                                                        <i class="mdi mdi-star text-warning me-n1"></i>
                                                        <i class="mdi mdi-star text-warning me-n1"></i>
                                                        <i class="mdi mdi-star text-warning me-n1"></i>
                                                        <i class="mdi mdi-star text-warning"></i>
                                                    </span>
                                                    <span class="text-warning">4.5</span>
                                                    <span class="fs-6 text-muted">(9,300)</span></li>
                                            </ul> -->
                                            <!-- Row -->
                                            <div class="row align-items-center g-0">
                                                <div class="col-auto">
                                                    <img src="{{ request.user|user_avatar }}"
                                                        class="rounded-circle avatar-xs" alt="">
                                                </div>
                                                <div class="col ms-2">
                                                    <span>{{ request.user.first_name }}</span>
                                                </div>
                                                <div class="col-auto">
                                                    <a href="#" class="text-muted bookmark">
                                                        <i class="fe fe-bookmark  "></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}