{% load memorizar %}
{% load static %}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-default ">
    <div class="container-fluid px-0">
        <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'images/logo.svg' %}" alt="" /></a>
        <!-- Mobile view nav wrap -->
        <ul class="navbar-nav navbar-right-wrap ms-auto d-lg-none d-flex nav-top-wrap">
            <li class="dropdown stopevent">
                <a class="rounded-circle" role="button" id="dropdownUser" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="avatar avatar-md avatar-indicators avatar-online">
                        <img alt="avatar" src="{{ request.user|user_avatar }}" class="rounded-circle" />
                    </div>
                </a>
                
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownUser">
                    <div class="dropdown-item">
                        <div class="d-flex">
                            <div class="avatar avatar-md avatar-indicators avatar-online">
                                <img alt="avatar" src="{{ request.user|user_avatar }}" class="rounded-circle" />
                            </div>
                            <div class="ml-3 lh-1">
                                <h5 class="mb-1">{{ request.user.first_name }}</h5>
                                <p class="mb-0 text-muted">{{ request.user.email }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <ul class="list-unstyled">
                        <li>
                            <a class="dropdown-item" href="{% url 'workbooks:list' %}">
                                <i class="fas fa-book-open mr-2"></i> My Workbooks
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'users:setting' %}">
                                <i class="fe fe-settings mr-2"></i> 設定
                            </a>
                        </li>
                    </ul>
                    <div class="dropdown-divider"></div>
                    <ul class="list-unstyled">
                        <li>
                            <a class="dropdown-item" href="{% url 'users:logout' %}">
                                <i class="fe fe-power nav-icon"></i> ログアウト
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <!-- Button -->
		<button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false"aria-label="Toggle navigation">
            <span class="icon-bar top-bar mt-0"></span>
            <span class="icon-bar middle-bar"></span>
            <span class="icon-bar bottom-bar"></span>
        </button>
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbar-default">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index' %}">Dashboard <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'socials:search' %}">Workbooks <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'flash_cards:list' %}">FlashCards <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <!-- search form -->
            <form method="GET" action="{% url 'socials:search' %}" class="mt-3 mt-lg-0 ms-lg-3 d-flex align-items-center">
				<span class="position-absolute ps-3 search-icon">
					<i class="fe fe-search"></i>
				</span>
				<input type="search" class="form-control ps-6" placeholder="Search Workbooks" name="keyword" value="{{ request.GET.keyword }}">
			</form>
            <!-- Profile -->
            <ul class="navbar-nav navbar-right-wrap ms-auto d-none d-lg-block">
                <li class="dropdown d-inline-block stopevent">
                    <a class="rounded-circle" role="button" id="dropdownUserProfile"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="avatar avatar-md avatar-indicators avatar-online">
                            <img alt="avatar" src="{{ request.user|user_avatar }}" class="rounded-circle" />
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownUserProfile">
                        <div class="dropdown-item">
                            <div class="d-flex">
                                <div class="avatar avatar-md avatar-indicators avatar-online">
                                    <img alt="avatar" src="{{ request.user|user_avatar }}" class="rounded-circle" />
                                </div>
                                <div class="ml-3 lh-1">
                                    <h5 class="mb-1">{{ request.user.first_name }}</h5>
                                    <p class="mb-0 text-muted">{{ request.user.email }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>
                        <ul class="list-unstyled">
                            <li>
                                <a class="dropdown-item" href="{% url 'workbooks:list' %}">
                                    <i class="fas fa-book-open mr-2"></i> My Workbooks
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'users:setting' %}">
                                    <i class="fe fe-settings mr-2"></i> 設定
                                </a>
                            </li>
                        </ul>
                        <div class="dropdown-divider"></div>
                        <ul class="list-unstyled">
                            <li>
                                <a class="dropdown-item" href="{% url 'users:logout' %}">
                                    <i class="fe fe-power nav-icon"></i> ログアウト
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>