
{% load static %}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% endif %}

        {% for link_page in page_obj.paginator.page_range %}
            {% if link_page %}
                {% if link_page == page_obj.number %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">{{ link_page }}</a>
                      </li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ link_page }}">{{ link_page }}</a></li>
                {% endif %}
            {% else %}
                <li class="page-item">{{ link_page }}</li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>