{% extends 'memorizar/base.html' %}
{% load memorizar %}

{% block content %}
<!-- Page Content -->
<div class="pb-5 py-md-5 py-5">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-12">
				<div class="card">
					<div class="justify-content-between align-items-center card-header">
						<div class="mb-3 mb-lg-3">
							<span id="question-sentense">{{ training_selection.question.sentense }}</span>
						</div>
						<div class="mb-3">
							<img src="{{ training_selection.question.image_urls.0 }}" style="max-height: 300px; max-width: 100%;" />
						</div>
					</div>
					
					<div class="card-body">
						<div class="mb-3 mb-lg-3">
							{% if training_selection.correct %}
								<h3 class="mb-0 text-success">正解！</h3>
							{% else %}
								<h3 class="mb-0 text-danger">不正解！</h3>
							{% endif %}
						</div>
						<div class="row card-deck">
							{% for answer in answers %}
								<div class="card answer{% if answer.is_true and answer == training_selection.answer %} answer-success{% elif answer == training_selection.answer %} answer-selection{% elif answer.is_true %} answer-true{% endif %} col-md-5 m-lg-1 col-12 m-1">
									<div class="card-body">
										<h5 class="card-title">{{ answer.title }}{% if answer.is_true %} 正解{% elif answer == training_selection.answer %} あなたの選択{% endif %}</h5>
										<p class="card-text">{{ answer.sentense }}</p>
									</div>
								</div>
							{% endfor %}
						</div>
						
						<div class="col-12 pb-4 py-md-4 py-4">
							<h3 class="mb-2">解説</h3>
							<span id="commentary">{{ training_selection.question.commentary }}</span>
							{% if training_selection.question.commentary_image_urls %}
							<div class="mb-3">
								<img src="{{ training_selection.question.commentary_image_urls.0 }}" style="max-height: 300px; max-width: 100%;" />
							</div>
						{% endif %}
						</div>

						<form method="POST">
							{% csrf_token %}

							<div class="form-check">
								<input class="form-check-input" name="not_confident" type="checkbox" value="" id="not_confident">
								<label class="form-check-label" for="not_confident">
								  まよった
								</label>
							</div>

							<div class="pb-4 py-md-4 py-4">
								{% if training_selection.training.done %}
									<a href="{% url 'workbooks:training_result' training_selection.training.workbook.workbook_id training_selection.training.training_id %}" class="btn btn-primary btn-block btn-lg">結果を見る</a>
								{% else %}
									<button type="submit" class="btn btn-primary btn-block btn-lg">次の問題</button>
								{% endif %}
							</div>
						</form>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script>
	document.getElementById('question-sentense').innerHTML = marked(document.getElementById('question-sentense').innerHTML);
	document.getElementById('commentary').innerHTML = marked(document.getElementById('commentary').innerHTML);
</script>
{% endblock %}