{% extends 'memorizar/base.html' %}
{% load static %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    
    <div class="py-md-5 py-5 container">
        <!-- Card -->
        <div class="card">
            <!-- Card header -->
            <div class="card-header d-flex justify-content-between align-items-center">
                <div class="pt-2">
                    <!-- Notification -->
                    <h3 class="mb-0">Select Chapters</h3>
                    <p>学習したいチャプターを選択してください。選ばれたチャプターから、ランダムに出題します</p>
                </div>
                <div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="checkAll">
                        <label class="form-check-label" for="checkAll"></label>
                    </div>
                </div>
            </div>
            <!-- Card body -->
            <div class="card-body">
                <!-- List group -->
                <ul class="list-group list-group-flush">
                    {% for chapter in chapters %}
                        <!-- List group item -->
                        <li class="list-group-item d-flex align-items-center justify-content-between px-0 py-2">
                            <div>
                                <h5 class="mb-0">{{ chapter.title }}</h5>
                                <p class="mb-0">{% if chapter.description %}{{ chapter.description }}{% endif %}</p>
                            </div>
                            <div>
                                <div class="form-check form-switch">
                                    <input type="checkbox" class="form-check-input select_chapter" name="{{ chapter.chapter_id }}">
                                    <label class="form-check-label"></label>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>

                <!-- 選択されたチャプター -->
                <div id="selected_chapter_ids">
                    <!-- <input type="hidden" name="chapter_id[]" value="xxx" /> -->
                </div>

                <!-- Button -->
                <button class="btn btn-primary mt-4" type="submit">
                    Start Training
                </button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}


{% block js %}
<script src="{% static 'js/select_chapter.js' %}"></script>
{% endblock %}