{% extends 'memorizar/base.html' %}
{% load static %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    
    <div class="py-md-5 py-5 container">
        <!-- Card -->
        <div class="card">
            <!-- Card header -->
            <div class="card-header d-flex justify-content-between align-items-center">
                <div class="pt-2">
                    <!-- Notification -->
                    <h3 class="mb-0">Select Chapters</h3>
                    <p>学習したいチャプターを選択してください。選ばれたチャプターから出題します</p>
                </div>
                <div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="checkAll">
                        <label class="form-check-label" for="checkAll"></label>
                    </div>
                </div>
            </div>
            <!-- Card body -->
            <div class="card-body">
                <!-- List group -->
                <!-- <ul class="list-group list-group-flush"> -->
                <table class="table table-responsive mb-0 text-nowrap">
                    <thead class="table-light">
                        <th>チャプター名</th>
                        <th>詳細</th>
                        <th>実施回数</th>
                        <th>実施率</th>
                        <th>正解率</th>
                        <th>選択</th>
                    </thead>
                    <tbody>
                        {% for chapter, chapter_data in chapters.items %}
                            <!-- List group item -->
                            <!-- <li class="list-group-item d-flex align-items-center justify-content-between px-0 py-2"> -->
                            <tr>
                                <td>{{ chapter.title }}</td>
                                <td>{% if chapter.description %}{{ chapter.description }}{% endif %}</td>
                                <td>{{ chapter_data.learning_count }}回</td>
                                <td><span class="badge {% if chapter_data.training_rate >= 80 %}bg-success{% elif chapter_data.training_rate > 40 %}bg-warning{% else %}bg-danger{% endif %}">{{ chapter_data.training_rate }}%</span></td>
                                <td><span class="badge {% if chapter_data.correct_rate >= 80 %}bg-success{% elif chapter_data.correct_rate > 40 %}bg-warning{% else %}bg-danger{% endif %}">{{ chapter_data.correct_rate }}%</span></td>
                                <td>
                                    <div class="form-check form-switch">
                                        <input type="checkbox" class="form-check-input select_chapter" name="{{ chapter.chapter_id }}">
                                        <label class="form-check-label"></label>
                                    </div>
                                </td>
                                <!-- <div>
                                    <h5 class="mb-0">{{ chapter.title }}</h5>
                                    <div class="mb-0">
                                        <p>{% if chapter.description %}{{ chapter.description }}{% endif %}</p>
                                        <p>実施回数: {{ chapter_data.learning_count }}回</p>
                                        <p>実施率: <span class="badge {% if chapter_data.training_rate >= 80 %}bg-success{% elif chapter_data.training_rate > 40 %}bg-warning{% else %}bg-danger{% endif %}">{{ chapter_data.training_rate }}%</span></p>
                                        <p>正解率: <span class="badge {% if chapter_data.correct_rate >= 80 %}bg-success{% elif chapter_data.correct_rate > 40 %}bg-warning{% else %}bg-danger{% endif %}">{{ chapter_data.correct_rate }}%</span></p>
                                    </div>
                                            
                                </div>
                                <div>
                                    <div class="form-check form-switch">
                                        <input type="checkbox" class="form-check-input select_chapter" name="{{ chapter.chapter_id }}">
                                        <label class="form-check-label"></label>
                                    </div>
                                </div> -->
                            </tr>
                            <!-- </li> -->
                        {% endfor %}
                    </tbody>
                </table>
                <!-- </ul> -->

                <!-- 選択されたチャプター -->
                <div id="selected_chapter_ids">
                    <!-- <input type="hidden" name="chapter_id[]" value="xxx" /> -->
                </div>

                <!-- Button -->
                <button class="btn btn-primary mt-4" type="submit">
                    Start Training
                </button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}


{% block js %}
<script src="{% static 'js/select_chapter.js' %}"></script>
{% endblock %}