{% extends 'memorizar/base.html' %}
{% load memorizar %}

{% block content %}
<!-- Page Content -->
<div class="pb-5 py-md-5 py-5">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-12">
				<div class="card">
					<div class="d-lg-flex justify-content-between align-items-center card-header">
						<div class="mb-3 mb-lg-0">
							<span id="question-sentense">{{ question.sentense }}</span>
						</div>
					</div>

					<div class="card-body">
						<div class="row card-deck">
							{% for answer in answers %}
								<div class="card answer answer-success col-md-5 m-lg-1 col-12 m-1">
									<div class="card-body">
										<h5 class="card-title">{{ answer.title }}</h5>
										<p class="card-text">{{ answer.sentense }}</p>
									</div>
								</div>
							{% endfor %}
						</div>
						
						<div class="col-12 pb-4 py-md-4 py-4">
							<h3 class="mb-2">解説</h3>
							<span id="commentary">{{ question.commentary }}</span>
							{% if question.commentary_image_urls %}
                                <div class="mb-3">
                                    <img src="{{ question.commentary_image_urls.0 }}" style="max-height: 300px; max-width: 100%;" />
                                </div>
                            {% endif %}
						</div>

                        <div class="pb-4 py-md-4 py-4">
                            {% if next_url %}
                                <a href="{{ next_url }}" class="btn btn-primary btn-block btn-lg">次の問題</a>
                            {% else %}
                                <a href="{% url 'workbooks:detail' workbook.workbook_id %}" class="btn btn-primary btn-block btn-lg">終わり</a>
                            {% endif %}
                        </div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script>
	document.getElementById('question-sentense').innerHTML = marked(document.getElementById('question-sentense').innerHTML);
	document.getElementById('commentary').innerHTML = marked(document.getElementById('commentary').innerHTML);
</script>
{% endblock %}