{% extends "memorizar/base.html" %}
{% load static %}
{% load memorizar %}
{% block title %}Workbooks{% endblock %}

{% block content %}

<div id="dates" data-values="{{ dates }}"></div>
<div id="learning_counts" data-values="{{ learning_counts }}"></div>
<div id="correct_counts" data-values="{{ correct_counts }}"></div>

<!-- メニュー -->
<div class="py-md-5 py-5 container">
	<div class="row">
		<div class="col-xl-12 col-lg-12 col-md-12 col-12">
			<!-- Bg -->
			<div class="pt-16 rounded-top-md" style="
						background: url(/static/images/profile-bg.jpg) no-repeat;
						background-size: cover;
					"></div>
			<div class="d-flex justify-content-between bg-white px-4 pt-2 pb-4 rounded-none rounded-bottom shadow-sm card">
				<div class="d-lg-flex justify-content-between align-items-center card-header" style="border: none;">
					<div class="mb-3 mb-lg-0">
						<h3 class="mb-0">{{ workbook.title|truncatechars:20 }}</h3>
						<p class="mb-0 d-block">{{ workbook.created_at|date:"Y年n月j日" }}に作成</p>
					</div>
					<!-- Nav -->
					<nav class="nav btn-group flex-nowrap">
						<div>
							<div class="nav nav-tabs btn-group flex-nowrap" id="nav-tab"  role="tablist">
								<button type="button" class="btn btn-primary btn-md dropdown-toggle" id="startMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">開始</button>
								<div class="dropdown-menu" aria-labelledby="startMenu">
									<a href="{% url 'workbooks:training_select_chapter' workbook.workbook_id %}" class="dropdown-item">チャプターを選択</a>
									<form method="POST">
										{% csrf_token %}
										<input type="hidden" name="training_type" value="RAND">
										<button type="submit" class="dropdown-item">ランダムに出題</button>
									</form>
									<form method="POST">
										{% csrf_token %}
										<input type="hidden" name="training_type" value="MIST">
										<button type="submit" class="dropdown-item">間違えた問題から出題</button>
									</form>
								</div>
								<button type="button" class="btn btn-outline-white btn-md dropdown-toggle" id="workbookMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">メニュー</button>
								<div class="dropdown-menu" aria-labelledby="workbookMenu">
									<a class="dropdown-item" href="{% url 'workbooks:edit' workbook.workbook_id %}">編集</a>
								</div>
							</div>
						</div>
					</nav>
				</div>

			</div>
		</div>
	</div>
</div>

<!-- 問題一覧 -->
<div class="container pb-5">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-12">
			<div class="card">
				<div class="d-lg-flex justify-content-between align-items-center card-header">
					<div class="mb-3 mb-lg-0">
						<h3 class="mb-0">Questions</h3>
						<span>問題</span>
					</div>
					<!-- Nav -->
					<nav class="nav btn-group flex-nowrap">
						<div>
								<div class="nav nav-tabs btn-group flex-nowrap" id="nav-tab"  role="tablist">
									<button class="btn btn-outline-white nav-link active" id="question-tab" data-bs-toggle="tab" data-bs-target="#question" role="tab" aria-controls="question" aria-selected="true">問題文</button>
									<button class="btn btn-outline-white nav-link" id="chapter-tab" data-bs-toggle="tab" data-bs-target="#chapter" role="tab" aria-controls="chapter" aria-selected="false">チャプター</button>

									<button type="button" class="btn btn-outline-white btn-md dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">メニュー</button>
									<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
										<a class="dropdown-item" href="{% url 'workbooks:question_new' workbook.workbook_id %}">問題を追加</a>
										<a class="dropdown-item" href="{% url 'workbooks:chapter_new' workbook.workbook_id %}">チャプターを追加</a>
									</div>
								</div>
								
						</div>
					</nav>
				</div>

				<div class="tab-content">
					<!-- 問題一覧タブ -->
					<div class="table-responsive border-0 tab-pane fade show active" id="question" role="tabpanel" aria-labelledby="question">
						<table class="table mb-0 text-nowrap">
							<thead class="table-light">
								<tr>
									<th scope="col" class="border-bottom-0">タイトル</th>
									<th scope="col" class="border-bottom-0">問題文</th>
									<th scope="col" class="border-bottom-0">作成日</th>
									<th scope="col" class="border-bottom-0"></th>
								</tr>
							</thead>
							<tbody>
								{% for question in workbook.question_set.all %}
									<tr>
										<td>{{ question.title }}</td>
										<td>{{ question.sentense|truncatechars:20 }}</td>
										<td>{{ question.created_at|date:"Y年n月j日" }}</td>
										<td class="text-muted align-middle border-top-0">
											<span class="dropdown dropstart">
												<a class="text-muted text-decoration-none" href="#" role="button" id="question-menu-{{ question.question_id }}" data-bs-toggle="dropdown" data-bs-offset="-20,20" aria-expanded="false">
													<i class="fe fe-more-vertical"></i>
												</a>
												<span class="dropdown-menu" aria-labelledby="question-menu-{{ question.question_id }}" style="">
													<span class="dropdown-header">設定 </span>
													<a class="dropdown-item" href="{% url 'workbooks:question_edit' workbook.workbook_id question.id %}"><i class="fe fe-edit dropdown-item-icon"></i>編集</a>
													<a class="dropdown-item" href="#"><i class="fe fe-trash dropdown-item-icon"></i>削除</a>
												</span>
											</span>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<!-- チャプタータブ -->
					<div class="table-responsive border-0 tab-pane fade show" id="chapter" role="tabpanel" aria-labelledby="chapter">
						<table class="table mb-0 text-nowrap">
							<thead class="table-light">
								<tr>
									<th scope="col" class="border-bottom-0">ID</th>
									<th scope="col" class="border-bottom-0">タイトル</th>
									<th scope="col" class="border-bottom-0">作成日</th>
									<th scope="col" class="border-bottom-0"></th>
								</tr>
							</thead>
							<tbody>
								{% for chapter in workbook.chapter_set.all %}
									<tr>
										<td>{{ chapter.chapter_id }}</td>
										<td>{{ chapter.title }}</td>
										<td>{{ chapter.created_at|date:"Y年n月j日" }}</td>
										<td class="text-muted align-middle border-top-0">
											<span class="dropdown dropstart">
												<a class="text-muted text-decoration-none" href="#" role="button" id="chapter-menu-{{ chapter.chapter_id }}" data-bs-toggle="dropdown" data-bs-offset="-20,20" aria-expanded="false">
													<i class="fe fe-more-vertical"></i>
												</a>
												<span class="dropdown-menu" aria-labelledby="chapter-menu-{{ chapter.chapter_id }}" style="">
													<span class="dropdown-header">設定 </span>
													<a class="dropdown-item" href="{% url 'workbooks:chapter_edit' workbook.workbook_id chapter.id %}"><i class="fe fe-edit dropdown-item-icon"></i>編集</a>
													<a class="dropdown-item" href="#"><i class="fe fe-trash dropdown-item-icon"></i>削除</a>
												</span>
											</span>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- グラフ -->
<div class="pb-5 py-md-5 py-5">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-12">
				<div class="card">
					<div class="card-body">
						<h4 class="mb-0">正答率グラフ</h4>
						<div id="chart" class="apex-charts"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Page Content -->
<div class="container pb-5">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-12">
			<div class="card">
				<div class="d-lg-flex justify-content-between align-items-center card-header">
					<div class="mb-3 mb-lg-0">
						<h3 class="mb-0">History</h3>
						<span>履歴</span>
					</div>
				</div>

				<div class="table-invoice table-responsive border-0">
					<table class="table mb-0 text-nowrap">
						<thead class="table-light">
							<tr>
								<th scope="col" class="border-bottom-0">日付</th>
								<th scope="col" class="border-bottom-0">正解数/回答数</th>
								<th scope="col" class="border-bottom-0">正解率</th>
								<th scope="col" class="border-bottom-0">かかった時間</th>
							</tr>
						</thead>
						<tbody>
							{% for training in page_obj %}
								<tr>
									<td>{{ training.training__created_at|date:"Y年n月j日" }}</td>
									<td>{{ training.true_count }}問/{{ training.selection_count }}問</td>
									<td><span class="badge {% if training.true_rate >= 80 %}bg-success{% elif training.true_rate > 40 %}bg-warning{% else %}bg-danger{% endif %}">{{ training.true_rate }}%</span></td>
									<td>{{ training.duration|display_timedelta }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}


{% block js %}
<script src="{% static 'js/workbook_detail.js' %}"></script>
{% endblock %}